{% extends "content/content_template.html.j2" %}
{% block title %}{{movieName}}{% endblock %}

{% block head %}
<style>
    #footer{
        position: absolute;
    }
</style>
{% endblock %}

{% block body %}
<div id="content">
    <h1>{{movieName}}</h1>
    <p>This page is still under progress</p>
</div>
{% endblock %}