{% extends "quiz/quiz_template.html.j2" %}

{% block head %}
<style>
    label{
        color: white;
    }
    .question{
        border:solid;
        border-color: white;
        border-radius: 16px;
        padding: 10px;
        margin-top: 10px;
        box-sizing: content-box;
    }
    input[type="submit"]{
        margin-top: 10px;
    }
</style>
{% endblock %}

{%  
    questions = [
    [1, "What is the name of the director of Dune Part 2?", ["A) Denis Villeneuve", "B) Christopher Nolan", "C) Ridley Scott", "D) James Cameron"], "A) Denis Villeneuve"],
    [2, "Who plays the character Paul Atreides in Dune Part 2?", ["A) Oscar Isaac", "B) Timothée Chalamet", "C) Josh Brolin", "D) Jason Momoa"], "B) Timothée Chalamet"],
    [3, "Which planet serves as the setting for much of Dune Part 2?", ["A) Arrakis", "B) Caladan", "C) Giedi Prime", "D) Salusa Secundus"], "A) Arrakis"],
    [4, "What is the name of the alien substance that is central to the plot of Dune Part 2?", ["A) Spice", "B) Melange", "C) Sapho", "D) Elixir"], "B) Melange"],
    [5, "Who is the emperor in Dune Part 2?", ["A) Shaddam IV", "B) Leto Atreides", "C) Stilgar", "D) Thufir Hawat"], "A) Shaddam IV"],
    [6, "Which House does the character Gurney Halleck belong to?", ["A) House Atreides", "B) House Harkonnen", "C) House Corrino", "D) House Richese"], "A) House Atreides"],
    [7, "What is the name of the giant sandworms in Dune Part 2?", ["A) Sand dragons", "B) Shai-Hulud", "C) Sand leviathans", "D) Worms of Arrakis"], "B) Shai-Hulud"],
    [8, "Who is the leader of the Fremen in Dune Part 2?", ["A) Stilgar", "B) Chani", "C) Liet-Kynes", "D) Jamis"], "A) Stilgar"],
    [9, "Which character is known as the 'Kwisatz Haderach' in Dune Part 2?", ["A) Paul Atreides", "B) Duke Leto Atreides", "C) Baron Vladimir Harkonnen", "D) Princess Irulan"], "A) Paul Atreides"],
    [10, "What is the name of the powerful noblewoman who becomes a key figure in Dune Part 2?", ["A) Lady Jessica", "B) Reverend Mother Gaius Helen Mohiam", "C) Lady Margot Fenring", "D) Princess Wensicia Corrino"], "A) Lady Jessica"]
]
%}
{% block body %}
<h1>{{movieName}} Quiz</h1>
<div class="content">
<form>
    <div class="quizQuestion">
    {% for q in range(len(questions)) %}
        <div class="question">
            <h3>{{questions[q][0]}}. {{questions[q][1]}}</h3>
            {% for answIndex in range(len(questions[q][2])) %}

            <input type="radio" name="q{{q+1}}" id="q{{q+1}}a{{answIndex+1}}" value="{{questions[q][2][answIndex]}}"></radio><label for="q{{q+1}}a{{answIndex+1}}">{{questions[q][2][answIndex]}}</label><br>
            {% endfor %}
            
        </div>
    {% endfor %}
        
        <input type="submit" value="Submit">
    </div>
</form>
</div>
{% endblock %}
